node_modules
coverage
dist
types
.vscode
.DS_Store
.eslintcache
*.log*
*.conf*
*.env*

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
